@import url("//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css");

h1 { color: DarkGreen; }

body {
  position: relative;
}

h2 {
      color: LawnGreen ;
}

h3 { 
      color:Black ;
}

h4 {
      color:Black;
}

p {
      color:Green;
}

body {
  
    background-image: url("http://www.teamworkenglewood.org/uploads/teamworkenglewood/images/teamwork_logo_color.jpg/teamwork_logo_color-full;size$350,350.ImageHandler");
    padding-top:70px;
    position: relative;
}

#container 
{ 
   position: relative 
} 

#navigation 
{ 
   position: absolute; 
   left: 30px; 
   top: 5px 
} 

img {
      max-width: 50%;
}

.navbar-default {
      background-color:Black;
      border-color:$bgHighlight;
}

.well {
      background:Green;
}
